*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.container{
  background-color: #343a40ed;
  color: white;
  margin: 0;
  overflow: hidden;
  padding-top: 64px;
}
/* nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
} */
.navigation{
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-size: larger;
  background-color: #212529;
  width: 100%;
  height: 65px;
  z-index: 10;
}
.navigation h2::after{
  content: '.';
  display: inline-block;
  color: lightgreen;
  width: 10px;
  height: 10px;
}
.vertical{
  display: none;
}
.dropdown-content{
  position: fixed;
  top: 10%;
  display: none;
  width: 100%;
  max-width: 100%;
  background-color:  #212529;
  z-index: 3;
  height: 40%;
}
.dropdown-content a{
  color: white;
  text-decoration: none;
  display: flex;
  gap: 1.25rem;
  padding: .8rem 1rem;
  align-items: center;
  width: 100%;
  font-size: larger;
}
.dropdown-content a:hover{
color: lightgreen;
}
.dropdown-content ul li{
  list-style: none;
}
.dropdown-content a i {
  width: 1.5rem;
  text-align: center;
  flex-shrink: 0;
}
hr{
display: none;
}
.swiper{
  line-height: 32px;
  margin: 1rem;
}
h1{
  margin-bottom: 38px;
}
.home{
  align-items: center;
  text-align: center;
  margin: auto;
}
span{
  color: lightgreen;
}
.home-1{
  max-width: 400px;
}
.home-1 h2{
  margin: 1.5rem 0;
  color: lightgreen;
}
.image img{
  border-radius: 50%;
  margin: 1.5rem 0;
}
.image{
  position: relative;
  z-index: 2;
}
.btn{
  background-color: lightgreen;
  border-radius: 10px;
  border: none;
  padding: 1rem 2rem;
}
.btn:hover{
  background-color: rgba(4, 70, 4, 0.849);
}
.first{
  margin: 2rem 0;
}
.first a{
  text-decoration: none;
  color: black;
}
.chatbot{
  position: fixed;
  bottom: 5%;
  right: 0;
  border: none;
  border-radius: 10px;
  padding: .5rem 1.5rem;
  background-color: #5A0FC8;
  color: white;
  font-size: large;
}
.about-1{
  margin: 2rem 0;
}
.about-1 img{
  float: right;
  margin-right: 1rem;
  border-radius: 10px;
  object-fit: cover;
}
.projects-1{
  margin: 5rem 0;
  display: grid;
  grid-template-rows: auto auto auto;
}
.projects-2{
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  padding: 1rem;
}
.projects-2 p{
  text-align: justify;
  hyphens: auto;
}
.projects-1 img{
width: 100%;
object-fit: cover;
mix-blend-mode: overlay;
border-radius: 10px;
}
.stack{
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.stack p{
  padding: 0 1rem;
  border-radius: 20px;
  opacity: .7;
}
.contact-info{
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin: 1rem;
}
.content h2{
  color: lightgreen;
  text-align: center;
}
input, textarea{
  width: 100%;
  border: 1px solid lightgreen;
  border-radius: 10px;
  background-color: transparent;
  padding: 1rem;
  margin: 1rem 0;
}
.contact-info a{
  text-decoration: none;
  color: black;
  background-color: white;
  padding: .5rem 1rem;
}
.foo{
  background-color:  #212529;
  height: 6rem;
  padding-top: 1rem;
  justify-content: center;
  text-align: center;
  line-height: 2rem;
}
.social-links a{
  text-decoration: none;
  color: white;
  padding: .8rem;
}
@media screen and (min-width: 768px){
  .home{
    display: flex;
    margin-bottom: 2rem;
  }
  .hambuger{
    display: none;
  }
  .vertical{
    display: block;
  }
  .vertical ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
  }
  .vertical li{
    list-style: none;
  }
  .vertical a{
    text-decoration: none;
    color: white;
    padding: 0 1rem;
  }
  .vertical i{
    display: none;
  }
  }

  @media screen and (min-width: 1024px){
    .container{
      background-color: #212529;
      padding-top: 0;
      display: grid;
      grid-template-columns: 20% 1fr;
      margin: 0;
    }
    .navigation{
      position: fixed;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      max-width: 14rem;
      height: 90vh;
    }
    .navigation h2{
      position: fixed;
      top: 5%;
      left: 5%;
    }
    .vertical i{
      display: inline;
    }
    .vertical ul{
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
    }
    .vertical a{
      padding: 1.45rem 2.125rem;
    }
    hr{
      display: block;
      background: linear-gradient(to right, rgba(144, 238, 144, 0), rgba(144, 238, 144, 0.178), rgba(144, 238, 144, 0));
      width: 100%;
      border: none;
      height: 2px;
    }
    .swiper{
      background-color: #343a40;
      border-radius: 5px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
      padding: 2rem;
    }
    .content {
      display: none;
    }
    .content.active {
      display: block;
      width: 100%;
      min-height: 85vh;
    }
    .content.active > *{
      flex: 1;
    }
    .home{
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 4rem;
    }
    .image img{
      float: left;
      border-radius: 20px;
    }
    .home-1{
      float: right;
      text-align: start;
    }
    .about-1{
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      margin-top: 4rem;
    }
    .about-1 img{
      width: 300px;
      height: 300px;
    }
    .about-flex{
      display: flex;
      justify-content: space-between;
    }
    .about-2 p{
      width: 400px;
      text-align: start;
      margin-bottom: 2rem;
    }
    .projects-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      padding: 20px;
   }
    .projects-1{
      margin: 1rem 0;
    }
    .projects-2 {
      padding: 15px;
      border-radius: 10px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      text-align: center;
    }
    .contact-info{
      margin-bottom: 2rem;
    }
    .foo{
      display: none;
    }
  }