*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container{
  background-color: #343a40ed;
  color: white;
  display: grid;
  margin: 0;
  overflow: hidden;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.dropdown-content{
  position: fixed;
  top: 7%;
  display: none;
  width: 100vw;
  max-width: 100%;
  background-color:  #212529;
  z-index: 3;
  height: 30%;
}
.dropdown-content a{
  color: white;
  text-decoration: none;
  display: flex;
  gap: 1.25rem;
  padding: .8rem 1rem;
  align-items: center;
  width: 100%;
  font-size: larger;
}
.dropdown-content a:hover{
color: lightgreen;
}
.dropdown-content ul li{
  list-style: none;
}
.dropdown-content a i {
  width: 1.5rem;
  text-align: center;
  flex-shrink: 0;
}
hr{
display: none;
}
.top-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-size: larger;
  background-color: #212529;
  height: 65px;
}
.top-nav h2::after{
  content: '.';
  display: inline-block;
  color: lightgreen;
  width: 10px;
  height: 10px;
}
main{
  line-height: 32px;
  margin: 1rem;
}
h1{
  margin-bottom: 38px;
}
.content.active {
  display: block;
  max-width: 100%;
}
#home{
  align-items: center;
  text-align: center;
  margin: auto;
  font-size: larger;
}
span{
  color: lightgreen;
}
.home-1{
  max-width: 400px;
}
.home-1 h2{
  margin: 1.5rem 0;
  color: lightgreen;
}
.image img{
  border-radius: 50%;
  margin: 1.5rem 0;
}
.image{
  position: relative;
  z-index: 2;
}
.btn-1{
  background-color: lightgreen;
  border-radius: 10px;
  border: none;
  padding: 1rem 2rem;
  margin: 2rem 0;
}
.btn-1:hover{
  background-color: rgba(4, 70, 4, 0.849);
}
.chatbot{
  position: fixed;
  bottom: 5%;
  right: 5%;
}
.about-1{
  margin: 2rem 0;
}
.about-1 img{
  border-radius: 10px;
  object-fit: cover;
}
.projects-1{
  margin: 5rem 0;
}
.projects-1 img{
width: 100%;
object-fit: cover;
mix-blend-mode: overlay;
border-radius: 10px;
}
